<h1>Sales Table</h1>

<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Product_id</th>
			<th>Customer_id</th>
			<th>Date</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>